<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578658308946-dek4l0288on79tp31vlvtfn15mcarto6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578658308946-dek4l0288on79tp31vlvtfn15mcarto6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>578658308946-mgk3u15oa00hs51ivki8ikiul4e4a81p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAen0kN_vnggGwjzvJyhIej-UC8JC1lio4</string>
	<key>GCM_SENDER_ID</key>
	<string>578658308946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voiceApp</string>
	<key>PROJECT_ID</key>
	<string>voice-27729</string>
	<key>STORAGE_BUCKET</key>
	<string>voice-27729.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578658308946:ios:05e43b16cbbffe39bae08b</string>
</dict>
</plist>